# this ignores everything within directories, because
# I totally won't be making any more directories in this repository
**
!/*
!.github/

.vscode/
.idea/
.mypy_cache/
*.zip
*.love
node_modules/
kristal_temp_written_*
REM_*


